:root {
   --white: #ffffff;
   --dark-white: #e2e2e2;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#root {
   width: 100%;
   height: auto;

   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--dark-white);
}

ul {
   list-style-type: none;
}

.cv-info {
   width: 95%;
   height: auto;

   margin-top: 5vh;
   padding: 3vw;
   border-radius: 2vw;
   background-color: var(--white);
}

.input-section {
   margin-bottom: 5vh;
}

.input-section-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 2vh;
}

.input-section-header h2 {
   text-decoration: underline;
}

.input-header-buttons {
   display: flex;
   gap: 2vw;
}

.input-header-buttons button {
   padding: 2vw 3vw;
   border-radius: 2vw;
   font-size: clamp(0.9rem, 3vw, 1.2rem);
}

.input-field {
   display: flex;
   flex-direction: column;

   margin: 0 0 1vh 0;
}

.input-field input {
   width: 100%;
   height: 4vh;
   padding: 1vw;

   font-size: clamp(1rem, 3vw, 1.4rem);
}

.input-field label {
   font-size: clamp(1.1rem, 4vw, 1.6rem);
   font-weight: bold;
   margin-bottom: 0.3vh;
}

.input-section ul {
   display: grid;
   gap: 2vw;
   grid-template-columns: repeat(2, 1fr);
}

#personal-inputs li:nth-child(1),
#personal-inputs li:nth-child(4),
#experience-inputs li:nth-child(3) {
   grid-column: 1 / -1;
}
