:root {
   --white: #ffffff;
   --dark-white: #e2e2e2;
   --light-grey: #aaaaaa;
   --dark-green: #054e23;
   --dark-blue: #00004b;
   --light-blue: #47479b;

   --input-preview-text: clamp(1rem, 4vw, 1.3rem);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#root {
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--dark-white);
}

ul {
   list-style-type: none;
}

li {
   width: 100%;
}

button {
   padding: 1.5vw 2vw;
   border-radius: 2vw;
   font-size: clamp(0.9rem, 3vw, 1.2rem);
   transition:
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;

   outline: none;
   border: 3px solid var(--dark-blue);
   background-color: var(--light-blue);
   color: var(--white);
}

button:hover,
button:focus-visible {
   transform: scale(1.2);
   box-shadow: 3px 3px 5px var(--dark-blue);
}

.delete-input:hover,
.delete-input:focus-visible {
   box-shadow: none;
}

.maker-header {
   display: flex;
   align-items: center;
   justify-content: flex-start;

   width: 100%;
   padding: 1vw 1vw 1vw 0;

   background-color: var(--dark-green);
   color: var(--white);
   font-size: clamp(0.8rem, 3.5vw, 1.2rem);
}

.maker-header img {
   width: auto;
   height: 6vh;
   padding: 0;
}

.scroll-text {
   display: flex;
   gap: 2vw;
   align-items: center;
   justify-content: center;

   width: 100%;
   padding: 1vw;
   margin-top: 1vh;

   text-decoration: underline;
   font-weight: bold;
   font-size: 1.2rem;
}

.scroll-text img {
   width: 3vw;
   height: auto;
}

.cv-info {
   width: 95%;
   height: auto;

   margin-top: 5vh;
   padding: 3vw;
   border-radius: 2vw;
   background-color: var(--white);
}

.input-section {
   margin-bottom: 5vh;
}

.input-section ul {
   margin-bottom: 2.5vh;
}

.input-section-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 2vh;
}

.input-section-header h2 {
   text-decoration: underline;
}

.input-header-buttons {
   display: flex;
   gap: 2vw;
}

.input-field {
   display: flex;
   flex-direction: column;
}

.input-field input {
   width: 100%;
   height: 4vh;
   padding: 1vw;

   font-size: clamp(1rem, 3vw, 1.4rem);
}

.input-field label {
   font-size: clamp(1.1rem, 4vw, 1.6rem);
   font-weight: bold;
   margin-bottom: 0.5vh;
}

.add-input {
   display: flex;
   justify-self: center;
}

.delete-input {
   display: flex;
   justify-self: flex-end;

   padding: 0;
   border: none;
}

.delete-input img {
   width: 5vw;
   height: auto;
   background-color: var(--white);
}

.row {
   display: flex;

   padding: 1vw;
   gap: 1vw;
   width: 100%;

   text-align: left;
}

.live-preview {
   height: 90vh;
   width: 95%;

   margin: 5vh 0;
   background-color: var(--white);

   display: grid;
   grid-template-rows: auto auto 1fr;
}

.preview-section ul {
   height: auto;
   width: 95%;

   display: grid;
   gap: 1vw;
   align-items: center;
   justify-content: center;
   justify-self: center;

   text-align: center;
   font-size: var(--input-preview-text);
}

.live-preview .preview-section:not(:first-child) > ul:last-child {
   margin: 2vw 0;
   border-bottom: 0.5vh solid var(--light-grey);
}

.preview-section h2 {
   margin-top: 2vh;
   padding: 0 1vw;
   color: var(--dark-blue);
   font-weight: bold;
   text-decoration: underline;
   text-decoration-color: var(--light-blue);
}

.personal-input-preview {
   min-width: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: 1.5fr 1fr 1fr;

   background-color: var(--dark-blue);

   font-weight: bold;
   color: var(--white);
}

.educational-input-preview {
   grid-template-rows: 1fr;
   grid-template-columns: auto 1fr;
}

.experience-input-preview {
   grid-template-rows: auto repeat(1, 1fr);
   grid-template-columns: auto 1fr;
}

.personal-input-preview img {
   height: auto;
   width: 4vw;
}

.preview-personal {
   font-size: clamp(1.5rem, 5vw, 1.8rem);
   text-align: center;
}

.preview-availability li,
.preview-email li {
   display: flex;
   justify-content: center;
   gap: 1vw;
   padding: 0;
}

.preview-schoolDate {
   grid-row: 1 / 2;
   align-self: flex-start;
}

.preview-schoolDate li + li,
.preview-experienceDate li + li {
   display: flex;
   gap: 2vw;
}

.preview-schoolDate li + li::before,
.preview-experienceDate li + li::before {
   content: "-";
}

.preview-schoolInfo {
   flex-direction: column;
   align-self: flex-start;
}

.preview-schoolInfo li:nth-child(1),
.preview-companyPosition li:nth-child(1) {
   font-size: clamp(1.2rem, 5vw, 1.5rem);
   color: var(--light-blue);
   font-weight: bold;
}

.preview-experienceDate {
   display: flex;
   align-self: flex-start;
}

.preview-companyPosition {
   grid-area: 1 / 2 / 2 / -1;
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   gap: 0;
}

.preview-companyPosition li + li {
   font-size: clamp(1.1rem, 4vw, 1.4rem);
}

.preview-responsibilities {
   grid-area: 2 / 2 / -1 / -1;
}
