:root {
   --white: #ffffff;
   --dark-white: #e2e2e2;
   --dark-green: #054e23;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#root {
   width: 100%;
   height: auto;

   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--dark-white);
}

ul {
   list-style-type: none;

   display: grid;
   gap: 2vw;
   grid-template-rows: repeat(3, auto);
}

li {
   width: 100%;
}

.maker-header {
   display: flex;
   align-items: center;
   justify-content: start;

   width: 100%;
   padding: 1vw 1vw 1vw 0;

   background-color: var(--dark-green);
   color: var(--white);
   font-size: clamp(0.8rem, 3.5vw, 1.2rem);
}

.maker-header img {
   width: auto;
   height: 6vh;
   padding: 0;
}

.scroll-text {
   display: flex;
   gap: 2vw;
   align-items: center;
   justify-content: center;

   width: 100%;
   padding: 1vw;
   margin-top: 1vh;

   text-decoration: underline;
   font-weight: bold;
   font-size: 1.2rem;
}

.scroll-text img {
   width: 3vw;
   height: auto;
}

.cv-info {
   width: 95%;
   height: auto;

   margin-top: 5vh;
   padding: 3vw;
   border-radius: 2vw;
   background-color: var(--white);
}

.input-section {
   margin-bottom: 5vh;
}

.input-section-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 2vh;
}

.input-section-header h2 {
   text-decoration: underline;
}

.input-header-buttons {
   display: flex;
   gap: 2vw;
}

.input-header-buttons button {
   padding: 2vw 3vw;
   border-radius: 2vw;
   font-size: clamp(0.9rem, 3vw, 1.2rem);
}

.input-field {
   display: flex;
   flex-direction: column;

   margin: 0 0 1vh 0;
}

.input-field input {
   width: 100%;
   height: 4vh;
   padding: 1vw;

   font-size: clamp(1rem, 3vw, 1.4rem);
}

.input-field label {
   font-size: clamp(1.1rem, 4vw, 1.6rem);
   font-weight: bold;
   margin-bottom: 0.3vh;
}

.row {
   display: flex;
   gap: 2vw;
}
